.navbar-nav {
    /* border: 1px black solid; */
    min-width: max-content;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-link {
    /* width: 100px; */
    /* border: 1px black solid; */

}

.photo>img {
    border-radius: 20px;
}

